<header>
  <h1>{{title}}</h1>
  <p>
    <a href="/">
      Root
    </a>
  </p>
  <p>
    <a href="/about">
      About
    </a>
  </p>
  <p>
    <a href="/projects">
      Projects
    </a>
  </p>
</header>
