<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Maintenance</title>
  </head>
  <body>
    {{> header}}
    <p>
      App down for maintenance
    </p>
    {{> footer}}
  </body>
</html>
